/* From Uiverse.io by andrew-demchenk0 */ 
.button {
  position: relative;
  width: 210px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #ea261d;
  background-color: #ea261d;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(160px);
  height: 100%;
  width: 50px;
  background-color: #ea261d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: #ea261d;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 200px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #ea261d;
}

.button:active {
  border: 1px solid #ea261d;
}